@* @page "/SubmitMessage" *@
@model Chirp.Web.Pages._SubmitMessage
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@* @{ *@
@*     ViewData["Title"] = "Chirp!"; *@
@*     Layout = "Shared/_Layout"; *@
@* } *@

<div class="cheepbox">
    <h3>What's on your mind?</h3>
    <form method="post" asp-page-handler="PostCheep">
        <input required style="float: left" type="text" asp-for="Message">
        <input type="submit">
    </form>
</div>