# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: 
    - main
    - fix/*
    - feature/*
    - feauture/*
    - Feature/*
    - Feauture/*
    - release/*
    - test/*
  pull_request:
    branches:
    - main
    - fix/*
    - feature/*
    - feauture/*
    - Feature/*
    - Feauture/*
    - release/*
    - test/*

jobs:
  build:
    runs-on: ubuntu-22.04 #Due to the playwright version we currently have we need to use 22.04
    #in the future use ubuntu-latest and change this workflow to be a seperate workflow ONLY for playwright tests.
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
      
  test:
    name: Test
    needs: build

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 8.0.x

      - name: Build & Install
        run: dotnet build
          
      - name: Start Web App    
        run: dotnet run --project "src/Chirp.Web" &
      
      - name: Ensure browsers are installed
        run: pwsh test/Chirp.PlaywrightTests/bin/Debug/net8.0/playwright.ps1 install
        
      - name: Wait for host
        run: npx wait-on http://localhost:5273 --timeout 30000
        
      - name: Test
        run: dotnet test
